/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&mt {
};

&lt { flavor = "hold-preferred"; };

/ {
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------
            //| LGUI/] |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | RGUI/[ | 
            //| CTRL/` |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  | CTRL/' |
            //| LALT/\ |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | RALT/- |
            //                             | RSE | SPC | LWR |   | LWR | BKSP | RSE |

            bindings = <
&mt LEFT_ALT TAB      &kp Q  &kp W  &kp E          &kp R         &kp T          &kp Y        &kp U      &kp I       &kp O    &kp P             &mt RIGHT_ALT RS(TAB)
&mt LEFT_CONTROL ESC  &kp A  &kp S  &kp D          &kp F         &kp G          &kp H        &kp J      &kp K       &kp L    &kp SINGLE_QUOTE  &mt RIGHT_CONTROL MINUS
&kp LEFT_SHIFT        &kp Z  &kp X  &kp C          &kp V         &kp B          &kp N        &kp M      &kp COMMA   &kp DOT  &kp FSLH          &kp RIGHT_SHIFT
                                    &kp BACKSPACE  &kp LEFT_GUI  &lt 2 ENTER    &lt 1 ENTER  &kp SPACE  &kp DELETE
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            //|LGUI/CAPS |  *  |  7 |  8  |  9  |  +  |    |  !  |  @  |  #  |  $  |  %  | RGUI/F1 |
            //|CTRL/MENU |  /  |  4 |  5  |  6  |  -  |    |  ^  |  &  |  *  |  (  |  )  | CTRL/F2 |
            //|  LALT/=  |  0  |  1 |  2  |  3  |  .  |    |  ls |  F4 |  F5 |  F6 |  F7 | RALT/F3 |
            //                      | ADJ | ___ | ___ |    | ___ | ___ | ADJ |

            bindings = <
&kp GRAVE       &kp NUMBER_1     &kp NUMBER_2      &kp NUMBER_3    &kp NUMBER_4          &kp NUMBER_5    &kp NUMBER_6  &kp NUMBER_7           &kp NUMBER_8     &kp N9             &kp NUMBER_0      &kp BACKSLASH
&kp UNDERSCORE  &kp LESS_THAN    &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp MINUS       &kp EQUAL     &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GREATER_THAN  &kp PLUS
&kp TILDE       &kp EXCLAMATION  &kp AT_SIGN       &kp HASH        &kp DOLLAR            &kp PERCENT     &kp CARET     &kp AMPERSAND          &kp SEMI         &kp COLON          &kp PIPE          &kp STAR
                                                   &trans          &trans                &trans          &trans        &trans                 &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            //| LGUI |  VOLU  |  PGUP  | PLAY | HOME | ___  |            | ___  | HOME | PLAY| PGUP | VOLU | RGUI |
            //| CTRL |  VOLD  |  LEFT  |  UP  | DOWN | RGHT |            | RGHT | DOWN | UP  | LEFT | VOLD | CTRL | 
            //| LALT |  MUTE  |  PGDN  |  ___ | END  | ___  |            | ___  | END  | ___ | PGDN | MUTE | RALT |
            //                          | ___ | ___  | ADJ  |            | ADJ  | ___  | ___ |

            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4         &kp F5         &kp F6          &kp F7          &kp F8        &kp F9           &kp F10  &trans
&trans  &kp F11  &kp F12  &trans  &kp PAGE_DOWN  &kp HOME       &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans   &trans
&trans  &trans   &trans   &trans  &trans         &kp PAGE_UP    &kp END         &trans          &trans        &trans           &trans   &trans
                          &trans  &trans         &trans         &trans          &trans          &trans
            >;
        };
    };
};
